@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.appoimentbgimg {
  background-image: url("/assets/appoimentbg.svg");
}

.headerbgimg {
  background-image: url("/assets/header.png");
}

.scroll-bar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* .test-rotate {
  transform: rotateX(20deg) !important;
} */